/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }



body {
    font-size: 16px;
    font-family: 'Merriweather', serif;
    color: black;
    font-weight: 300;
    margin: 0 auto;
    padding: 5px;
 }
header h1 {
    font-family: 'Merriweather', serif;
    font-size:1.5rem;
    font-weight: bold;
    color: yellow;
    text-shadow: 2px 2px black;
}
header h2 {
    font-family: 'Merriweather', serif;
    font-size:1.5rem;
    font-weight: bold;
    color: yellow;
    text-shadow: 2px 2px black;
}
header h3 {
    font-family: 'Merriweather', serif;
    font-size:1.5rem;
    font-weight: bold;
    color: white;
}
header, footer {
    padding:5px 0;
    text-align: center;
    background-color:  black;
    color:  yellow;
    font-size: 1em;
    display: flex;
    justify-content: center;
 }


.headings{
    display: flex;
    flex-direction: column;
}
header img {
    width: 70px;
    height: auto;
}

.logo{
     float: left;
}
.m{
    letter-spacing: 1pt;
    font-size: .9rem;
    margin-left: 20px;
    font-style: italic;
    color: yellow;
}

.navigation{
    list-style: none;
    text-align: center;
    padding: 0;
  }


.navigation li:first-child {
    display: block;
}
.navigation li{
    display: none;
    flex: 1 1 100%;
}
.navigation a:hover {
    background-color: yellow;
    color: red;
    border-radius: 10px;
    font-weight: 700;
}
.navigation a {
    padding: 0.75rem;
    text-align: center;
    text-decoration: none;
    color: black;
}
.responsive li {
    display: block;
}
body {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.container {
    margin: 0 auto;
    display:grid; 
    grid-gap: 20px;
    grid-template-columns: 350px;       
}
.title {
    grid-column: 1 / -1;
    grid-row: 1;
    justify-self: center;
}
.gallery-photo img[data-src]{
    filter: blur(0.2em);
}
.gallery-photo {
    text-align: center;
    display: grid;
    justify-items: center;
    width: 300px;
  }
.gallery-photo p {
    text-align: center;
    margin-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
}
.gallery-photo img {
    filter: blur(0em);
    transition: filter 0.5s;
    width: 100%;
    height: 400px;
 }

nav {
    background-color: #ccc;
    border-radius: 10px;
    margin: 0 auto;
  } 
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
    overflow: hidden;
}
nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: #000;
    border-top: 1px solid rgba(0,0,0,0.3) ;
}
nav li a {
	display: block;
	color: black;
	font-family:'Poppins', sans-serif;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
}
nav ul li.active a {
    background-color: aqua;
    border-radius: 10px;
}
nav ul li a:hover {
	background-color: yellow;
    color: red;
    border-radius: 10px;
}
main h2{
    font-size:1.5rem;
    color: black;
    margin-top:20px;
    }

footer a{
    color: #E5E9Ea;
}

/*Clearfix: Force an Element not to collapse*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.getNotice{
    width: 100%;
    height: 50px;
    margin-top: -20px;
    background-color: gold;
    color: #000;
    margin: auto;
    font-weight: bolder;
    display: none;
    text-align: center;
    padding: 10px;
}
.show {
    display: block;
}
.weathersummary {
    width: 150px; 
    font-size: 8px;
    padding: 1rem;
    top: 25px;
    left: 25px;
    border: 1px solid #000000;
    background: radial-gradient(orange, yellow);
    border: .5px solid violet;
    box-shadow:  0 0 30px #777;
    opacity: .8;
    display: relative;
}
.herodiv {
    margin: 10px auto;
    position: relative;
}

.herodiv img {
    display: block;
    width: 90%;
    margin: 0 auto;
}

.flex {
    display: flex;
    flex-direction: row;
}
.flex img {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
} 
.col {
    flex: 1 1 100%;
	border: 1px solid #333;
	background-color: rgb(7, 151, 84);
	font-size: 13px;
    text-align: center;
    width: 100px;
}
.dayPangan {
    color: whitesmoke;
    background-color: gray;
    display: block;
    height: 35px;
    width: auto;
    font-size: 1rem;
    padding-top: 6px;
}
.dataTemp {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 7px;
}
.five {
    display: none;
}
.contactinfo img {
    display: none;
}


/*  ---STORM----*/
/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
  }


/*----------- HEADER --------------*/
header {
    padding: .5rem 2%;
}

header h1 {margin: 0;}
header h2 {margin: 0; font-weight: normal;}

/*----------- MAIN --------------*/
main {
    padding: 0 2%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

/*------------FORM-----------------*/
#storm-value {
    max-width: 20rem;
    text-align: center;
    padding: 0;
    margin-top: -15px;
}
form fieldset{
    margin: 2rem 0;
    border: 1px solid gray;
    border-radius: 10px;
    padding: .5rem 2%;
}
legend{
    font-size: 1.3rem;
}
form legend{
    color: rgb(36, 31, 31);
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top, form div{
    display: block;
    padding-top: 1rem;
    color: #9c2c13;
    font-size: 1rem;
}
form label.top input, form label.top select{
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1);
}

form label.sbs{
    display: block;
    padding: .35rem 0;
    color: #555;
}

form input.submitBtn{
    border: none;
    background-color: #9c2c13;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left:green solid 6px;
}
#additionalcomments {
    border-radius: 4px;
    margin-top: 15px;
    display: block;
    min-width: 295px;
    max-width: 90%;
    min-height: 125px;
}

#stormseverity-value {
    max-width: 20rem;
    text-align: center;
    padding: .2rem;
    margin-top: -15px;
}






 