section h1 {
    color: black;
}

#gallery img {
    object-fit: cover;
    width: 100%;
    height: 400px;
}

.content {
    background-color: white;
    padding: 2%;
    color: black;
    text-align: center;
}