#gallery {
    display: flex;
}
.sulod {
    background-color: white;
    padding: 2%;
    color: black;
    text-align: center;
}
#gallery img {
    width: 60%;
    height: 400px;
    align-items: center;
    border: 1px solid #333;
    padding: 2px;
    filter: blur(0em);
    transition: filter 0.5s;
}