@media only screen and (min-width: 64rem) {

body {
    font-size: 16px;
    font-family: 'Merriweather', serif;
    color: black;
    font-weight: 300;
	margin-left: auto; 
    margin-right: auto;
    max-width:900px;
}
header h1 {
    font-family: 'Merriweather', serif;
    font-size:2.5rem;
    font-weight: bold;
    color: yellow;
    text-shadow: 2px 2px black;
}
header h3 {
    font-family: 'Merriweather', serif;
    font-size:1.5rem;
    font-weight: bold;
    color: white;
}
header, footer{
    padding:5px 0;;
    text-align: center;
    background-color:  black;
    color:  yellow;
    font-size: 1em;
    justify-content: center;
 }
.headings{
    display: flex;
    flex-direction: column;
}
.headings h1 {
  font-size: 3rem;
}
header img {
    width: 100px;
    height: auto;
}

.logo{
     float: left;
}
.m{
    letter-spacing: 1.5pt;
    font-size: larger;
    margin-left: 17px;
    font-style: italic;
    color: yellow;
}

.navigation{
    list-style: none;
    text-align: center;
    padding: 0;
    display: flex;
}
.navigation li{
    display: block;
    flex: 1 1 100%;
}
.navigation li:first-child {
    display: none;
}
.navigation a:hover {
    background-color: yellow;
    color: red;
    border-radius: 10px;
    font-weight: 700;
}
.navigation a {
    display: block;
    padding: 0.75rem;
    text-align: center;
    text-decoration: none;
    color: black;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
    overflow: hidden;
}
nav ul li a {
    display: block;
    padding: .6rem 1rem;
    text-decoration: none;
    color: #000;
    border-top: 1px solid rgba(0,0,0,0.3) ;
}
nav li a {
	display: block;
	color: black;
	font-family:'Poppins', sans-serif;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
}
nav ul li.active a {
    background-color: aqua;
    border-radius: 10px;
}
nav ul li a:hover {
	background-color: yellow;
    color: red;
    border-radius: 10px;
}

.contentbox {
    display: block;
    margin: 10px auto;
    border: 1px dashed black;
    padding: 15px;
    background-color: white;
    color: black;
    font-style: italic;
}

main h2{
    font-size:1.5rem;
    color: black;
    margin-top:20px;
}

footer a{
    color: #E5E9Ea;
}

/*Clearfix: Force an Element not to collapse*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

}
 