* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; } 

/*header */
header, footer {
	background-color: #0b8cf5;
	padding: 10px;
}
header img {
	float: left;
	margin-right: 10px;
	width: 75px;
}


header h1, header h2 {
	color: #ffffff;
	margin: 0;
	font-family:'Merriweather', serif;
}

header h1 {
	font-size: 2rem;
}

header h2 {
	font-size: 1.5rem;
}

h4 {
	font-size: 1rem;
	text-align: center;
	color: white;
}


/*nav rules*/
nav {
	background-color: #f7e031;
}

nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

nav ul li a {
	display: block;
	color: rgb(5, 11, 15);
	padding: .5rem 0;
	font-family: 'Merriweather', serif;
	font-weight: bold;
	text-decoration: none;
	font-size: .9rem;
	text-align: center;
}

nav ul li a:hover {
	background-color: #15d5f7;
	color:#CC155A;
}
nav ul li a:link {
	color: #eb3922;
}

nav ul li a:visited {
	color: #010314;
}

nav ul li.active a {
	background-color: #3aacc6;
	color: #000;
}




/*main*/

main {
	padding: 0 2%;
	min-height: 10rem;
}
a {
	font-family: 'Merriweather', serif;
}

h1, h2 {
	font-family: 'Poppins', sans-serif;


p {
	font-family: 'Merriweather', serif;
}



main li {
	font-family: 'Merriweather', serif;
	font-weight: bold;
}

.domainpic {
	width: 15%;
}

/*footer*/
footer {
	background-color: #ab141a;
	padding: .5rem 2%;
	text-align: center;
	font-family: 'Gelasio', serif;
}
 footer h3 {
	 color: #fff
	 
 }



.above:after {
  content: "";
  display: table;
  clear: both;
}